/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material
 *= require material_icons
 *= require_tree .
 *= require_self
 */
 
 // Variables
my-blue = #2196F3
my-green = #4caf50

html
  background-color #F5F5F5

// Helpers
.big-padding
  padding 20px
.big-margin-top
  margin-top 20px
.full-width
  width 100% !important
.margin-left
  margin-left 10px
.margin-right
  margin-right 10px
.margin-top
  margin-top 10px
.my-blue
  color my-blue
.my-green
  color my-green
.no-margin
  margin 0 !important
.padding
  padding 10px
.shadow-card
  box-shadow 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12)
.text-center
  text-align center !important
.text-left
  text-align left !important
.text-right
  text-align right !important